#resume {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

section {
	display: flex;
}

#profile-pic {
	background-image: url('./assets/profile-pic.jpeg');
	height: 200px;
	width: 200px;
	border-radius: 50%;
}